
    @{
        ViewData["Title"] = "Secret Word";
    }



            
            <div class="row" style="padding-top: 25px;">
                <div class="col s12">
                    <form asp-action="AddWord" asp-controller="Home" method="post">
                        <div class="input-field">
                            <label>Enter the Secret Word:</label>

                            <input type="text" class="validate" name="SecretWord">
                            <input type="submit" class="btn btn-primary" value="Submit" />
                        </div>
                    </form>


                </div>
            </div>
        