@model IEnumerable<SecretWord.Models.SecretWordModel>

<h1 class="center">All Words</h1>

@foreach (var word in Model)
{
    <div class="row">

                    <h4 class="panel-title" >@word.Word</h4>
                    <p class="panel-info">Created on @word.TimeStamp.Month/@word.TimeStamp.Day/@word.TimeStamp.Year</p>

                </div>
       
}