@model IEnumerable<SecretWord.Models.SecretWordModel>

<h1 class="center">All Words</h1>

@foreach (var m in Model)
{
    <div class="row">

                    <h4 class="panel-title" >@m.Word</h4>
                    <p class="panel-info">Created on @m.TimeStamp.Month/@m.TimeStamp.Day/@m.TimeStamp.Year</p>

                </div>
       
}